<div class="card" id="atc2-share-therapy-area-analytics">
  <div class="card-header">
    <h3 class="card-title"> % Therapy Area Level 2 share and Value for Total MarketD
    </h3>
    <hr>
    <div class="filter-chart row m-0">
      <div class="col-md-8">
        <div class="input-group input-group-sm">
          <div class="input-group-prepend">
            <span class="input-group-text">ATC1</span>
          </div>
          <select class="custom-select form-control" [(ngModel)]="filter.atc1_id" (change)="fetchData()">
            <option value="">----Select----</option>
            <option *ngFor="let atc1 of atc1s" [ngValue]="atc1.id">{{atc1.name}}</option>
          </select>
          <div class="input-group-prepend">
            <span class="input-group-text">POM/OTC</span>
          </div>
          <select class="custom-select form-control" [(ngModel)]="filter.drug_form_id" (change)="fetchData()">
            <option value="">----Select----</option>
            <option *ngFor="let drugForm of drugForms" [ngValue]="drugForm.id">{{drugForm.name}}</option>
          </select>
        </div>
      </div>
      <div class="col-md-4">
        <div class="input-group input-group-sm">
          <div class="input-group-prepend">
            <span class="input-group-text">Year</span>
          </div>
          <select class="custom-select form-control" [(ngModel)]="filter.year" (change)="fetchData()">
            <option value="">----Select----</option>
            <option *ngFor="let year of getYears(2013)" [ngValue]="year">{{year}}</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="card-block">
      <div class="row">
        <div class="col-md-8 col-sm-12">
          <div id="vartical-bar-chart" class="height-400" *ngIf="atc2.liveChart.length > 0">
            <ngx-charts-bar-vertical-2d [scheme]="barChartSettings.barChartColorScheme" [results]="atc2.liveChart" [gradient]="barChartSettings.barChartGradient"
              [xAxis]="barChartSettings.barChartShowXAxis" [yAxis]="barChartSettings.barChartShowYAxis" [legend]="barChartSettings.barChartShowLegend"
              [showXAxisLabel]="barChartSettings.barChartShowXAxisLabel" [showYAxisLabel]="barChartSettings.barChartShowYAxisLabel"
              [xAxisLabel]="'ATC2'" [yAxisLabel]="barChartSettings.barChartYAxisLabel" (select)="selectChart($event)">
            </ngx-charts-bar-vertical-2d>
          </div>
          <div class="row mt-3" *ngIf="atc2.initialChart.length>0">
            <div class="col-md-3 col-sm-12 mt-2" style="display:inline-flex">
              <label class="mr-2">Live Chart: </label>
              <div class="mr-2">
                <input type="radio" [(ngModel)]="atc2.liveChartActivate" [value]="false" name="atc2LiveChart">
                <label>Yes</label>
              </div>
              <div class="">
                <input type="radio" [(ngModel)]="atc2.liveChartActivate" [value]="true" name="atc2LiveChart">
                <label>No</label>
              </div>
            </div>
            <div class="form-group col-md-9 col-sm-12">
              <nouislider #atc2NS [(ngModel)]="atc2.drawChartStartPos" (change)="drawLiveChart(true)" [config]="atc2Config"></nouislider>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-12">
          <ng2-smart-table [settings]="dataTableSettings" [source]="dataTableSource" (rowSelect)="selectTable($event)"></ng2-smart-table>
        </div>
      </div>
    </div>
  </div>
</div>
