<div id="dashboard" class="mt-5 mb-3">
  <div class="row justify-content-center">
    <div class="col-xl-8 col-lg-12">
      <div class="logo-img">
        <img src="assets/img/logos/logo-red.png">
      </div>
      <h4 class="darken-blue font-weight-bold">
        Take a deeper look:
      </h4>
      <h4 class="darken-red font-weight-bold">
        Uncover the insights that drive growth
      </h4>
      <div class="text-center">
        <img src="assets/img/dashboard/1.png" class="img-responsive center-block" alt="Random first slide">
      </div>
      <h4 class="darken-blue font-weight-bold mt-3">
        Aiding Objectivity:
      </h4>
      <h4 class="darken-red font-weight-bold">
        Support Decision Making with Real Data & Insight
      </h4>
      <div class="text-center">
        <img src="assets/img/dashboard/2.png" class="img-responsive center-block" alt="Random first slide">
      </div>

      <h4 class="darken-blue font-weight-bold">
        Consulting and Advisory Services
      </h4>
      <p>
        Please send us through the below:
        <br> Email: Info@pharmabusinsight.com
        <br> Africa Contact: +2347087471773
        <br> International Contact: +1 646 8789737
      </p>
    </div>
  </div>
</div>
