<!-- <div id="dashboard" class="mt-5 mb-3">
  <div class="row justify-content-center">
    <div class="col-xl-8 col-lg-12">
      <div class="logo-img">
        <img src="assets/img/logos/logo-red.png">
      </div>
      <h4 class="darken-blue font-weight-bold">
        Take a deeper look:
      </h4>
      <h4 class="darken-red font-weight-bold">
        Uncover the insights that drive growth
      </h4>
      <div class="text-center">
        <img src="assets/img/dashboard/1.png" class="img-responsive center-block" alt="Random first slide">
      </div>
      <h4 class="darken-blue font-weight-bold mt-3">
        Aiding Objectivity:
      </h4>
      <h4 class="darken-red font-weight-bold">
        Support Decision Making with Real Data & Insight
      </h4>
      <div class="text-center">
        <img src="assets/img/dashboard/2.png" class="img-responsive center-block" alt="Random first slide">
      </div>

      <h4 class="darken-blue font-weight-bold">
        Consulting and Advisory Services
      </h4>
      <p>
        Please send us through the below:
        <br> Email: Info@pharmabusinsight.com
        <br> Africa Contact: +2347087471773
        <br> International Contact: +1 646 8789737
      </p>
    </div>
  </div>
</div> -->

<div id="dashboard" class="">
  <div class="login-info" *ngIf="loginInfo && isLoaded">
    <div class="row">
      <div class="col-xl-3 col-lg-6 col-md-6 col-12">
        <div class="card gradient-blackberry">
          <div class="card-body">
            <div class="card-block pt-2 pb-0">
              <div class="media">
                <div class="media-body white text-left">
                  <h5 class="mb-0">Last Login At</h5>
                  <span>{{loginInfo.last_login_at}}</span>
                </div>
                <div class="media-right white text-right">
                  <i class="icon-clock font-large-1"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6 col-md-6 col-12">
        <div class="card gradient-ibiza-sunset">
          <div class="card-body">
            <div class="card-block pt-2 pb-0">
              <div class="media">
                <div class="media-body white text-left">
                  <h5 class="mb-0">Last Login IP</h5>
                  <span>{{loginInfo.last_login_ip}}</span>
                </div>
                <div class="media-right white text-right">
                  <i class="icon-globe font-large-1"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-lg-6 col-md-6 col-12">
        <div class="card gradient-green-tea">
          <div class="card-body">
            <div class="card-block pt-2 pb-0">
              <div class="media">
                <div class="media-body white text-left">
                  <h5 class="mb-0">Current Login At</h5>
                  <span>{{loginInfo.current_login_at}}</span>
                </div>
                <div class="media-right white text-right">
                  <i class="icon-clock font-large-1"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6 col-md-6 col-12">
        <div class="card gradient-pomegranate">
          <div class="card-body">
            <div class="card-block pt-2 pb-0">
              <div class="media">
                <div class="media-body white text-left">
                  <h5 class="mb-0">Current Login IP</h5>
                  <span>{{loginInfo.current_login_ip}}</span>
                </div>
                <div class="media-right white text-right">
                  <i class="icon-globe font-large-1"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="chart">
    <div class="card" *ngIf="isLoaded">
      <div class="card-header">
        <h4 class="card-title">Disease Prevalence (2016-2017)</h4>
      </div>
      <div class="card-body">
        <div class="card-block">
          <div class="chart-info mb-3 ml-3">
            <span class="d-inline-block rounded-circle mr-1" style="background-color: #FF8D60;width:15px; height:15px;"></span>
            Top 5 Diseases
            <span class="d-inline-block rounded-circle mr-1 ml-2" style="background-color: #FF586B;width:15px; height:15px;"></span>
            Top 5 Disease Categories
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div id="area-chart1" class="height-400" *ngIf="diseaseChart.length > 0">
                <ngx-charts-area-chart [scheme]="areaChartSettings.areaChartColorScheme" [results]="diseaseChart"
                  [gradient]="areaChartSettings.areaChartGradient" [xAxis]="areaChartSettings.areaChartShowXAxis"
                  [yAxis]="areaChartSettings.areaChartShowYAxis" [legend]="areaChartSettings.areaChartShowLegend"
                  [showXAxisLabel]="false" [showYAxisLabel]="areaChartSettings.areaChartShowYAxisLabel" xAxisLabel="Disease"
                  [yAxisLabel]="areaChartSettings.areaChartYAxisLabel" [autoScale]="false" xScaleMin="0" [curve]="areaChartSettings.areaChartLineInterpolation">
                </ngx-charts-area-chart>
              </div>
            </div>
            <div class="col-sm-6">
              <div id="area-chart1" class="height-400" *ngIf="diseaseCategoriesChart.length > 0">
                <ngx-charts-area-chart [scheme]="areaChartSettings.areaChartColorScheme1" [results]="diseaseCategoriesChart"
                  [gradient]="areaChartSettings.areaChartGradient" [xAxis]="areaChartSettings.areaChartShowXAxis"
                  [yAxis]="areaChartSettings.areaChartShowYAxis" [legend]="areaChartSettings.areaChartShowLegend"
                  [showXAxisLabel]="false" [showYAxisLabel]="areaChartSettings.areaChartShowYAxisLabel" xAxisLabel="Disease"
                  [yAxisLabel]="areaChartSettings.areaChartYAxisLabel" [autoScale]="false" xScaleMin="0" [curve]="areaChartSettings.areaChartLineInterpolation">
                </ngx-charts-area-chart>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card" *ngIf="isLoaded">
      <div class="card-header">
        <h4 class="card-title">Total Market Analytics (2013-2017)</h4>
      </div>
      <div class="card-body">
        <div class="card-block">
          <div class="row justify-content-around">
            <div class="col-sm-5">
              <div class="height-300" *ngIf="marketSharebySegment.length > 0">
                <ngx-charts-pie-grid [scheme]="pieChartSettings.pieChartColorScheme" [results]="marketSharebySegment"
                  [tooltipText]="pieTooltipText">
                </ngx-charts-pie-grid>
              </div>
              <div class="text-center">
                % Market Share by Segment (OTC & POM)
              </div>
            </div>
            <div class="col-sm-5">
              <div class="height-300" *ngIf="totalMarketShare.length > 0">
                <ngx-charts-pie-grid [scheme]="pieChartSettings.pieChartColorScheme" [results]="totalMarketShare"
                  [tooltipText]="pieTooltipText">
                </ngx-charts-pie-grid>
              </div>
              <div class="text-center">
                Total Market Share by Segment
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card" *ngIf="isLoaded">
      <div class="card-header">
        <h4 class="card-title">Treatment Mapping (Therapy Area Level: 2016-2017)</h4>
      </div>
      <div class="card-body">
        <div class="card-block">
          <div class="chart-info mb-3 ml-3">
            <span class="d-inline-block rounded-circle mr-1" style="background-color: #FF8D60;width:15px; height:15px;"></span>
            Top 5 ATC Level 2
            <span class="d-inline-block rounded-circle mr-1 ml-2" style="background-color: #FF586B;width:15px; height:15px;"></span>
            Top 5 ATC Level 3
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="height-250" *ngIf="treatmentMappingAtc2.length > 0">
                <ngx-charts-bar-horizontal [scheme]="barChartSettings.barChartColorScheme1" [results]="treatmentMappingAtc2"
                  [gradient]="barChartSettings.barChartGradient" [xAxis]="barChartSettings.barChartShowXAxis" [yAxis]="barChartSettings.barChartShowYAxis"
                  [showYAxisLabel]="false" [showXAxisLabel]="barChartSettings.barChartShowYAxisLabel" [xAxisLabel]="barChartSettings.barChartYAxisLabel">
                </ngx-charts-bar-horizontal>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="height-250" *ngIf="treatmentMappingAtc3.length > 0">
                <ngx-charts-bar-horizontal [scheme]="barChartSettings.barChartColorScheme2" [results]="treatmentMappingAtc3"
                  [gradient]="barChartSettings.barChartGradient" [xAxis]="barChartSettings.barChartShowXAxis" [yAxis]="barChartSettings.barChartShowYAxis"
                  [showYAxisLabel]="false" [showXAxisLabel]="barChartSettings.barChartShowYAxisLabel" [xAxisLabel]="barChartSettings.barChartYAxisLabel">
                </ngx-charts-bar-horizontal>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card" *ngIf="isLoaded">
      <div class="card-header">
        <h4 class="card-title">Total Market Analytics (Therapy Area Level; 2016-2017)</h4>
      </div>
      <div class="card-body">
        <div class="card-block">
          <div class="chart-info mb-3 ml-3">
            <span class="d-inline-block rounded-circle mr-1" style="background-color: rgb(255, 141, 96);width:15px; height:15px;"></span>
            Top 5 ATC Level 1
            <span class="d-inline-block rounded-circle mr-1 ml-2" style="background-color: rgb(255, 88, 107);width:15px; height:15px;"></span>
            Top 5 ATC Level 2
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="height-250" *ngIf="totalMarketAnaAtc1.length > 0">
                <ngx-charts-number-card [scheme]="barChartSettings.barChartColorScheme3" cardColor="rgb(255, 141, 96)"
                  emptyColor="rgb(255, 141, 96)" [results]="totalMarketAnaAtc1">
                </ngx-charts-number-card>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="height-250" *ngIf="totalMarketAnaAtc2.length > 0">
                <ngx-charts-number-card [scheme]="barChartSettings.barChartColorScheme3" cardColor="rgb(255, 88, 107)"
                  emptyColor="rgb(255, 88, 107)" [results]="totalMarketAnaAtc2">
                </ngx-charts-number-card>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="rss-feeds" *ngIf="isLoaded">
      <div class="card" *ngFor="let rssFeed of rssFeeds;">
        <div class="card-header">
          <h5 class="card-title">
            <a class="btn btn-raised btn-default" target="_blank" href="{{rssFeed.link}}">{{rssFeed.title}}
            </a>
          </h5>
          <font size="2">
            <i class="icon-clock"></i> &nbsp;
            <b>{{rssFeed.pub_date}}</b>
          </font>
        </div>
        <div class="card-body">
          <div class="card-block">
            <div class="feed-description" [innerHTML]="rssFeed.description | sanitizeHtml">
            </div>
            <a class="btn btn-raised btn-default" target="_blank" href="{{rssFeed.link}}">
              Read more ...
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
