<ngb-carousel>
  <ng-template ngbSlide>
    <img src="assets/img/photos/18.jpg" class="cover" alt="Random first slide">
    <div class="carousel-caption">
      <h3 class="ff-serif text-uppercase">
        <b>Real World Local Insight</b>
      </h3>
      <!-- <div class="devider">
        <i class="fa fa-heart-o fa-lg"></i>
      </div> -->
      <p class="mb-0 carousel-text">Our quest is to provide unprecedented real-world insights to stakeholders in both public and private sectors for strategy
        development and performance assessments.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="assets/img/photos/19.jpg" class="cover" alt="Random second slide">
    <div class="carousel-caption">
      <h3 class="ff-serif text-uppercase">Health Analytics and Insights</h3>
      <p class="mb-0 carousel-text">We continually seek to provide solutions that are fit for purpose, across multiple platforms and presentations. We
        dig deeper into trends across developing countries to get you most needed insight.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="assets/img/photos/14.jpg" class="cover" alt="Random third slide">
    <div class="carousel-caption">
      <h3 class="ff-serif text-uppercase">Combining International Expertise & Deep Local Awareness</h3>
      <p class="mb-0 carousel-text">We take pride in our team’s combination of a deep local awareness of trends in developing countries healthcare space
        and cross-functional expertise in research, marketing, public health, business development and technology.</p>
    </div>
  </ng-template>
</ngb-carousel>
<div class="wrapper">
  <div class="content-wrapper">
    <div class="container-fluid">
      <div class="main-panel">
        <div class="main-content">
          <p>
            home works!
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
