<div class="wrapper">
  <div class="content-wrapper">
    <div class="container-fluid">
      <div class="main-panel">
        <div class="main-content" style="margin-top: 40px;">
          <!-- <div calss="row justify-content-center">
            <div class="col-md-8 text-center">
              <ngb-carousel>
                <ng-template ngbSlide>
                  <img src="assets/img/landing-photo/carousel-1.png" class="cover" alt="Random first slide">
                </ng-template>
                <ng-template ngbSlide>
                  <img src="assets/img/landing-photo/carousel-2.png" class="cover" alt="Random first slide">
                </ng-template>
                <ng-template ngbSlide>
                  <img src="assets/img/landing-photo/carousel-3.png" class="cover" alt="Random first slide">
                </ng-template>
              </ngb-carousel>
            </div>
          </div> -->
          <div class="row mt-4">
            <div class="col-md-9 text-section">
              <h4 class="grey darken-2 font-weight-bold">
                Pharma Markets and Opportunities
              </h4>
              <h2 class="darken-4 font-weight-bold text-customize">
                <span style="color:rgb(192,0,0);">The Local Narrative:</span> Uncover Real Sources of Growth in a
                Global Market
              </h2>
              <p class="grey darken-2 font-weight-normal" style="margin-top:20px">
                Local narratives best reveal the real sources of growth, risks and opportunities. In a fast-changing
                world with complex individual country dynamics, it is imperative to listen to the pains and gains of
                local market players towards charting the course for brands, organizations and teams.
              </p>
            </div>
            <div class="col-md-3 search-section text-right">
              <a class="nav-link" [routerLink]="['/home']">
                <span class="menu-title"> Contact Us </span>
              </a>
              <form class="navbar-form navbar-right mt-1" role="search">
                <div class="position-relative has-icon-right">
                  <input type="text" class="form-control bg-grey bg-lighten-2 grey darken-4 round" placeholder="Search">
                  <div class="form-control-position grey darken-4">
                    <i class="ft-search"></i>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 text-section-1">
              <h5 class="grey darken-2 font-weight-bold mt-4">
                Local Narratives, Insights, and Opportunities
              </h5>
              <p class="grey darken-1 font-weight-normal" style="margin-top:20px">
                We connect with and provide platforms for experts across all markets to provide local market narratives
                that best reflect
                market realities and this way provide real-world insights for organizations, brands, teams and
                individuals
                to grow in a globally competitive market.
              </p>
              <div class="text-center">
                <img src="assets/img/landing-photo/bar.png" class="img-responsive center-block" alt="Random first slide">
                <p class="grey darken-1 font-weight-normal">
                  Multiple local narratives that uncover market opportunities
                </p>
              </div>
            </div>
            <div class="col-md-8 img-section">
              <img src="assets/img/landing-photo/1.png" alt="Random first slide">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
