<div class="wrapper privacy">
  <div class="content-wrapper">
    <div class="container-fluid">
      <div class="main-panel">
        <div class="main-content" style="margin-top: 40px;">
          <h3 class="font-weight-bold">Data Protection Policy</h3>
          <h3 class="">Pharma Business Review</h3>
          <table style="width: 80%;">
            <tr>
              <td style="width: 40%;">Last updated</td>
              <td style="width: 60%;">August 2018</td>
            </tr>
          </table>
          <h4 class="font-weight-bold mt-2">Definitions</h4>
          <table style="width: 100%;">
            <tr>
              <td style="width: 32%;">Company</td>
              <td style="width: 68%;">Pharma Business Review</td>
            </tr>
            <tr>
              <td style="width: 32%;">GDPR</td>
              <td style="width: 68%;">means the General Data Protection Regulation.</td>
            </tr>
            <tr>
              <td style="width: 32%;">Responsible Person</td>
              <td style="width: 68%;">Ayodeji Sunday Alaran</td>
            </tr>
            <tr>
              <td style="width: 32%;">Register of Systems</td>
              <td style="width: 68%;">means a register of all systems or contexts in which personal data is processed
                by Pharma Business Review.</td>
            </tr>
          </table>
          <h6 class="font-weight-bold mt-2">1. Data protection principles</h6>
          <p>
            Pharma Business Review is committed to processing data in accordance with its responsibilities under the
            GDPR.
          </p>
          <p>
            Article 5 of the GDPR requires that personal data shall be:
          </p>
          <div class="order-sec pl-2">
            <p>
              a. <span>processed lawfully, fairly and in a transparent manner in relation to individuals; </span> <br>
              b. <span>collected for specified, explicit and legitimate purposes and not further processed in a manner
                that
                is incompatible with those purposes; further processing for archiving purposes in the public interest,
                scientific or historical research purposes or statistical purposes shall not be considered to be
                incompatible with the initial purposes;</span> <br>
              c. <span>adequate, relevant and limited to what is necessary in relation to the purposes for which they
                are
                processed;</span> <br>
              d. <span>accurate and, where necessary, kept up to date; every reasonable step must be taken to ensure
                that
                personal data that are inaccurate, having regard to the purposes for which they are processed, are
                erased
                or rectified without delay;</span> <br>
              e. <span>kept in a form which permits identification of data subjects for no longer than is necessary for
                the
                purposes for which the personal data are processed; personal data may be stored for longer periods
                insofar as the personal data will be processed solely for archiving purposes in the public interest,
                scientific or historical research purposes or statistical purposes subject to implementation of the
                appropriate technical and organisational measures required by the GDPR in order to safeguard the rights
                and freedoms of individuals; and</span> <br>
              f. <span>processed in a manner that ensures appropriate security of the personal data, including
                protection
                against unauthorised or unlawful processing and against accidental loss, destruction or damage, using
                appropriate technical or organisational measures.”</span> <br>
            </p>
          </div>
          <h6 class="font-weight-bold mt-2">2. General provisions</h6>
          <div class="order-sec pl-2">
            <p>
              a. <span>This policy applies to all personal data processed by Pharma Business Review. </span> <br>
              b. <span>he Responsible Person shall take responsibility for Pharma Business Review’s ongoing
                compliance with this policy. </span> <br>
              c. <span>This policy shall be reviewed at least annually. </span> <br>
              d. <span>Pharma Business Review shall register with the Information Commissioner’s Office as an
                organisation that processes personal data. </span> <br>
            </p>
          </div>
          <h6 class="font-weight-bold mt-2">3. Lawful, fair and transparent processing</h6>
          <div class="order-sec pl-2">
            <p>
              a. <span>a. To ensure its processing of data is lawful, fair and transparent, Pharma Business Review
                shall maintain a Register of Systems. </span> <br>
              b. <span>b. The Register of Systems shall be reviewed at least annually. </span> <br>
              c. <span>c. Individuals have the right to access their personal data and any such requests made to Pharma
                Business Review shall be dealt with in a timely manner. </span> <br>
            </p>
          </div>
          <h6 class="font-weight-bold mt-2">4. Lawful purposes</h6>
          <div class="order-sec pl-2">
            <p>
              a. <span> All data processed by Pharma Business Review must be done on one of the following lawful
                bases: consent, contract, legal obligation, vital interests, public task or legitimate interests (see
                ICO guidance for more information). </span> <br>
              b. <span> Pharma Business Review shall note the appropriate lawful basis in the Register of Systems.
              </span> <br>
              c. <span> Where consent is relied upon as a lawful basis for processing data, evidence of opt-in
                consent shall be kept with the personal data. </span> <br>
              d. <span> Where communications are sent to individuals based on their consent, the option for the
                individual to revoke their consent should be clearly available and systems should be in place to ensure
                such revocation is reflected accurately in Pharma Business Review’s systems. </span> <br>
            </p>
          </div>
          <h6 class="font-weight-bold mt-2">5. Data minimisation</h6>
          <div class="order-sec pl-2">
            <p>
              a. <span>a. Pharma Business Review shall ensure that personal data are adequate, relevant and limited to
                what is necessary in relation to the purposes for which they are processed. </span> <br>
            </p>
          </div>
          <h6 class="font-weight-bold mt-2">6. Accuracy</h6>
          <div class="order-sec pl-2">
            <p>
              a. <span>Pharma Business Review shall take reasonable steps to ensure personal data is accurate.
              </span> <br>
              b. <span>Where necessary for the lawful basis on which data is processed, steps shall be put in place
                to ensure that personal data is kept up to date. </span> <br>
            </p>
          </div>
          <h6 class="font-weight-bold mt-2">7. Archiving / removal</h6>
          <div class="order-sec pl-2">
            <p>
              a. <span>To ensure that personal data is kept for no longer than necessary, Pharma Business Review shall
                put in place an archiving policy for each area in which personal data is processed and review this
                process annually. </span> <br>
              b. <span>The archiving policy shall consider what data should/must be retained, for how long, and why.
              </span> <br>
            </p>
          </div>
          <h6 class="font-weight-bold mt-2">8. Security</h6>
          <div class="order-sec pl-2">
            <p>
              a. <span>Pharma Business Review shall ensure that personal data is stored securely using modern software
                that is kept-up-to-date. </span> <br>
              b. <span>Access to personal data shall be limited to personnel who need access and appropriate security
                should be in place to avoid unauthorised sharing of information. </span> <br>
              c. <span>When personal data is deleted this should be done safely such that the data is irrecoverable.
              </span> <br>
              d. <span>Appropriate back-up and disaster recovery solutions shall be in place. </span> <br>
            </p>
          </div>
          <h6 class="font-weight-bold mt-2">9. Breach</h6>
          <p>In the event of a breach of security leading to the accidental or unlawful destruction, loss, alteration,
            unauthorised disclosure of, or access to, personal data, Pharma Business Review shall promptly assess the
            risk to people’s rights and freedoms and if appropriate report this breach to the ICO (more information on
            the ICO website). </p>

          <div class="other-privacy-policies mt-3">
            <h5 class="font-weight-bold mt-2">Other Privacy Policies</h5>
            <h5 class="font-weight-bold mt-2">What is Personal Information and why do we collect it?</h5>
            <p>
              Personal Information is information or an opinion that identifies an individual. Examples of Personal
              Information we collect include: names, addresses, email addresses, phone and facsimile numbers.
              This Personal Information is obtained in many ways including [interviews, correspondence, by telephone
              and facsimile, by email, via our website www.pbr.com, from your website, from media and publications,
              from other publicly available sources, from cookies- delete all that aren’t applicable] and from third
              parties. We don’t guarantee website links or policy of authorised third parties.
              We collect your Personal Information for the primary purpose of providing our services to you, providing
              information to our clients and marketing. We may also use your Personal Information for secondary
              purposes closely related to the primary purpose, in circumstances where you would reasonably expect such
              use or disclosure. You may unsubscribe from our mailing/marketing lists at any time by contacting us in
              writing.
              When we collect Personal Information we will, where appropriate and where possible, explain to you why we
              are collecting the information and how we plan to use it.
            </p>
            <h5 class="font-weight-bold mt-2">Sensitive Information</h5>
            <p>Sensitive information is defined in the Privacy Act to include information or opinion about such things
              as an individual's racial or ethnic origin, political opinions, membership of a political association,
              religious or philosophical beliefs, membership of a trade union or other professional body, criminal
              record or health information.<br>
              Sensitive information will be used by us only: <br>
              • For the primary purpose for which it was obtained <br>
              • For a secondary purpose that is directly related to the primary purpose <br>
              • With your consent; or where required or authorised by law. <br>
            </p>
            <h5 class="font-weight-bold mt-2">Third Parties</h5>
            <p>Where reasonable and practicable to do so, we will collect your Personal Information only from you.
              However, in some circumstances we may be provided with information by third parties. In such a case we
              will take reasonable steps to ensure that you are made aware of the information provided to us by the
              third party.<br>
            </p>
            <h5 class="font-weight-bold mt-2">Disclosure of Personal Information</h5>
            <p>Your Personal Information may be disclosed in a number of circumstances including the following:
              • Third parties where you consent to the use or disclosure; and
              • Where required or authorised by law.
              <br>
            </p>
            <h5 class="font-weight-bold mt-2">Security of Personal Information</h5>
            <p>Your Personal Information is stored in a manner that reasonably protects it from misuse and loss and
              from unauthorized access, modification or disclosure.
              When your Personal Information is no longer needed for the purpose for which it was obtained, we will
              take reasonable steps to destroy or permanently de-identify your Personal Information. However, most of
              the Personal Information is or will be stored in client files which will be kept by us for a minimum of 7
              years.
            </p>
            <h5 class="font-weight-bold mt-2">Access to your Personal Information</h5>
            <p>You may access the Personal Information we hold about you and to update and/or correct it, subject to
              certain exceptions. If you wish to access your Personal Information, please contact us in writing.
              Pharma Business Review will not charge any fee for your access request, but may charge an administrative
              fee for providing a copy of your Personal Information.
              In order to protect your Personal Information we may require identification from you before releasing the
              requested information.
            </p>
            <h5 class="font-weight-bold mt-2">Maintaining the Quality of your Personal Information</h5>
            <p>It is an important to us that your Personal Information is up to date. We will take reasonable steps to
              make sure that your Personal Information is accurate, complete and up-to-date. If you find that the
              information we have is not up to date or is inaccurate, please advise us as soon as practicable so we can
              update our records and ensure we can continue to provide quality services to you.
            </p>
            <h5 class="font-weight-bold mt-2">Policy Updates</h5>
            <p>This Policy may change from time to time and is available on our website.
            </p>
            <h5 class="font-weight-bold mt-2">Privacy Policy Complaints and Enquiries</h5>
            <p>If you have any queries or complaints about our Privacy Policy please contact us at: <br>
              Pharm Business Review <br>
              Info@pbrinsight.com <br>
              Asia, USA, Europe: +1 646 8789737 <br>
              Africa & Middle-East: +234-7097471773 <br>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
