#regestration {
    .gradient-green-teal-customize {
        background-image: linear-gradient(45deg, #0cc27e, #0cc27e85);
    }
    .login-title {
        font-weight: 500;
    }
    .full-height-vh {
        height: calc(100vh - 160px) !important;
    }
}