#login {
  .gradient-green-teal-customize {
    background-image: linear-gradient(45deg, #0cc27e, rgba(12, 194, 126, 0.52));
  }
  .login-title {
    font-weight: 500;
  }
  .full-height-vh {
    height: calc(100vh - 150px) !important;
  }
  form .form-control {
    border-width: 2px;
  }
  .custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #9e0000;
  }
  .custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    background-color: #bb0000;
  }
  .custom-control-input:active~.custom-control-label::before {
    color: #fff;
    background-color: #bb0000;
  }
}
