<section id="disease-prevalence-pfm">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Population</h3>
            <hr>
          </div>
          <div class="card-body">
            <div class="card-block">
              <div class="row">
                <div class="col-md-6 col-sm-12">
                  <div id="line-chart" class="height-300" *ngIf="populations.initialPopulationSeries.length > 0">
                    <ngx-charts-line-chart [scheme]="lineChartSettings.lineChartColorScheme1" [results]="populations.liveTotalChart" [gradient]="lineChartSettings.lineChartGradient"
                      [xAxis]="lineChartSettings.lineChartShowXAxis" [yAxis]="lineChartSettings.lineChartShowYAxis" [legend]="lineChartSettings.lineChartShowLegend"
                      [showXAxisLabel]="lineChartSettings.lineChartShowXAxisLabel" [showYAxisLabel]="lineChartSettings.lineChartShowYAxisLabel"
                      xAxisLabel="Year" yAxisLabel="Population" [autoScale]="lineChartSettings.lineChartAutoScale" [curve]="lineChartSettings.lineChartLineInterpolation"
                      [xAxisTickFormatting]="convertToString">
                    </ngx-charts-line-chart>
                  </div>
                </div>
                <div class="col-md-6 col-sm-12">
                  <div id="line-chart" class="height-300" *ngIf="populations.initialGrowthRateSeries.length > 0">
                    <ngx-charts-line-chart [scheme]="lineChartSettings.lineChartColorScheme2" [results]="populations.liveGrowthChart" [gradient]="lineChartSettings.lineChartGradient"
                      [xAxis]="lineChartSettings.lineChartShowXAxis" [yAxis]="lineChartSettings.lineChartShowYAxis" [legend]="lineChartSettings.lineChartShowLegend"
                      [showXAxisLabel]="lineChartSettings.lineChartShowXAxisLabel" [showYAxisLabel]="lineChartSettings.lineChartShowYAxisLabel"
                      roundDomains=true xAxisLabel="Year" yAxisLabel="Annual Growth Rate (%)" [autoScale]="lineChartSettings.lineChartAutoScale"
                      [curve]="lineChartSettings.lineChartLineInterpolation" [xAxisTickFormatting]="convertToString">
                    </ngx-charts-line-chart>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title"> % Population by Age Group and Actual Population Size </h3>
            <hr>
          </div>
          <div class="card-body">
            <div class="card-block">
              <div class="row">
                <div class="col-md-12 col-sm-12">
                  <div id="line-chart" class="height-300" *ngIf="ageGroupReports.initialData.length > 0">
                    <ngx-charts-line-chart [scheme]="lineChartSettings.lineChartColorScheme1" [results]="ageGroupReports.liveChart" [gradient]="lineChartSettings.lineChartGradient"
                      [xAxis]="lineChartSettings.lineChartShowXAxis" [yAxis]="lineChartSettings.lineChartShowYAxis" [legend]="lineChartSettings.lineChartShowLegend"
                      [showXAxisLabel]="lineChartSettings.lineChartShowXAxisLabel" [showYAxisLabel]="lineChartSettings.lineChartShowYAxisLabel"
                      xAxisLabel="Age Group" yAxisLabel="%" [autoScale]="lineChartSettings.lineChartAutoScale" [curve]="lineChartSettings.lineChartLineInterpolation"
                      [xAxisTickFormatting]="convertToString">
                    </ngx-charts-line-chart>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-12" *ngIf="clinicTypes.length>0">
        <disease-by-brand [clinicTypes]="clinicTypes"></disease-by-brand>
      </div>
      <div class="col-sm-12" *ngIf="clinicTypes.length>0">
        <disease-by-atc [clinicTypes]="clinicTypes"></disease-by-atc>
      </div>
    </div>
  </div>
</section>
